doctype html
html(lang="ru")
head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Ежедневный список исторических событий
    link(rel="stylesheet", href="/styles.css")
    link(rel="shortcut icon", href="favicon.ico", type="image/x-icon")
    script(src="https://unpkg.com/@tailwindcss/browser@4")
body
    include ../partials/header
    block content
