extends layouts/layout
block content 
  .main 
    h1.text-center.text-5xl. 
      Проект 
    h2.text-center.text-2xl.m-10. 
      "Ежедневный список иторических событий"
    p. 
      Проект представляет собой сайт, ежедневно выводящий список
      исторических событий, случившихся в данный день.
  .data-w
    .data-w1.flex.justify-center
      h3.text-center.text-3xl.m-10 Описание
      img(src="./img/write.svg", alt="admin" width="50px")
    p. 
      На главной странице сайта должна выводиться таблица исторических
      событий, случившихся в данный день. Для каждого события должны быть
      указаны описание и год, в который это событие случилось.  
  .data-w
    .box.flex.justify-center
      h3.text-center.text-3xl.m-10 Админка
      img(src="./img/admin.svg", alt="admin" width="50px")
    p. 
      События должны добавляться через админку. При добавлении указывается
      день, месяц и год, в который случилось событие, а также его
      описание. Админ должен видеть список всех событий, иметь возможность
      редактировать и удалять их.
